.pb-section {
    text-align: center;
    padding: 10px;
    background-image: url("../images/tBanner1.jpg"); /* Replace with your actual image path */
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    
}

.pb-section h2{
    text-align: center;
    color:white;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 80px;
}